.form {
  &__section {
    text-align: left;
  }

  &__section-title {
    @include font-style;
    color: $color-tertiary;
    font-size: 0.875rem;
    margin-bottom: 0.75rem;

    @include breakpoint($breakpoint-desktop) {
      font-size: 1.125rem;
      margin-bottom: 0.93rem;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.03rem;
    position: relative;
    @include breakpoint($breakpoint-desktop) {
      margin-bottom: 1.25rem;
    }

    &:nth-child(3) {
      margin-bottom: 2.81rem;
      @include breakpoint($breakpoint-desktop) {
        margin-bottom: 3.63rem;
      }
    }
  }

  &__label {
    @include font-style;
    color: $color-sixth;
    font-size: 0.625rem;
    margin-bottom: 0.33rem;

    @include breakpoint($breakpoint-desktop) {
      font-size: 0.75rem;
      margin-bottom: 0.44rem;
    }
  }

  &__check-text {
    @include font-style;
    color: $color-sixth;
    font-size: 0.625rem;
    margin-bottom: 0;
  }

  &__input {
    width: 100%;
    border-radius: 0.75rem;
    border: 1px solid $color-quaternary;
    padding: 0.8rem 2.44rem;
    padding-right: 0;
    @include font-style;
    font-size: 0.75rem;
    color: $color-quaternary;
    @include breakpoint($breakpoint-desktop) {
      padding: 1.12rem 2.44rem;
      font-size: 1rem;
    }

    option {
      font-size: 0.75rem;
      color: $color-quaternary;
      @include breakpoint($breakpoint-desktop) {
        font-size: 1rem;
      }
    }

    &::placeholder {
      @include font-style;
      color: $color-quaternary;
      font-size: 0.75rem;
      @include breakpoint($breakpoint-desktop) {
        font-size: 1rem;
      }
    }
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
  }

  #postal,
  #country {
    width: 50%;
  }

  #postal {
    margin-left: 0.73rem;
    @include breakpoint($breakpoint-desktop) {
      margin-left: 0.97rem;
    }
  }

  #country {
    margin-right: 0.73rem;
    @include breakpoint($breakpoint-desktop) {
      margin-right: 0.97rem;
    }
  }

  &__input-checkbox {
    display: flex;
    align-items: center;

    p {
      margin-left: 0.29rem;
    }
  }

  &__checkbox {
    all: revert;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: end;
  }

  &__button {
    @include font-style;
    border-radius: 0.75rem;
    background: $color-secondary;
    color: #fff;
    font-size: 1rem;
    padding: 1.06rem 2.81rem;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-top: 1.25rem;

    &:hover {
      opacity: 0.5;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    transform: translate(80%, 154%);
    color: $color-quaternary;

    &.chevron {
      right: 10%;
      font-size: 0.7rem;
      top: 0.6rem;
      @include breakpoint($breakpoint-desktop) {
        font-size: 0.8rem;
      }
    }

    @include breakpoint($breakpoint-desktop) {
      transform: translate(80%, 214%);
    }
  }
}
