// typography

$font-montserrat: "Montserrat", sans-serif;

// colors
$color-primary: #4e5150;
$color-secondary: #f2994a;
$color-tertiary: #333;
$color-quaternary: #828282;
$color-quinary: #bdbdbd;
$color-sixth: #4f4f4f;

// breakpoints

$breakpoint-tablet: 47.9375rem;
$breakpoint-desktop: 63.9375rem;
$breakpoint-desktop-xl: 89.9375rem;
